.link {
    text-decoration: none;
    list-style: none;

}

.link__address {
    color: var(--auth-color);

}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.link__icon {
    align-items: baseline;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: currentColor;
}